mixin sidebar(page)
    div(class="col-3 sidebar" my-user-id=userInfo.id)
        ul(class="menu-list")
            a(href="/user/info") 
                li(class= (page == "info" ? "active" : ""))
                    i(class="fas fa-user")
                    | Thông Tin Cá Nhân
            a(href="/user/change/password") 
                li(class= (page == "changepassword" ? "active" : ""))
                    i(class="fas fa-key")
                    | Đổi Mật Khẩu
            a(href="/users/not-friend") 
                li(class= (page == "listuser" ? "active" : ""))
                    i(class="fas fa-user-friends")
                    | Danh sách người dùng
            a(href="/users/friend-invitation") 
                li(class= (page == "friend-invitation" ? "active" : ""))
                    i(class="fas fa-user-friends")
                    span(friend-request-count-element) 
                        | Lời mời kết bạn (#{friendRequestCount})
            a(href="/user/list-friend") 
                li(class= (page == "list-friend" ? "active" : ""))
                    i(class="fas fa-users")
                    | Danh Sách Bạn Bè
            a(href="/user/list-group") 
                li(class= (page == "list-group" ? "active" : ""))
                    i(class="fas fa-layer-group")
                    | Danh Sách Nhóm
            a(href="/chats")
                li(class= (page == "chats" ? "active" : ""))
                    i(class="fas fa-comment")
                    | Tin nhắn
            a(href="/user/logout") 
                li(class= (page == "logout" ? "active" : ""))
                    i(class="fas fa-sign-out-alt")
                    | Đăng Xuất
                