extend ../../layout/base.pug
include ../../mixins/sidebar.pug
include ../../mixins/alert.pug


block main 

    link(rel="stylesheet", href="/css/infoUser.css")

    +alert-success(3000)
    +alert-error(3000)

    div(class="container-fluid")
        div(class="row")

            +sidebar("list-friend")

            div(class="col-9")
                div(class="container friends-container")
                    if(friendsListInfo)
                        div(class="friends-header")
                            div(class="title")
                                | Danh Sách Bạn Bè
                        div(class="friends-body")
                            ul(class="friends-list")
                                each item in friendsListInfo
                                    li(li-cancel-friend-in-list)
                                        div 
                                            img(alt="Friend Image", height="40", src=item.avatar, width="40")
                                            span
                                                | #{item.fullName}
                                        button(class="btn btn-danger .btn-cancel-friend-in-list" button-cancel-friend-in-list=item.userId) Hủy kết bạn
                    else 
                        div(class="friends-header")
                            div(class="title")
                                | Mày đéo có bạn !
