extend ../../layout/base.pug
include ../../mixins/sidebar.pug
include ../../mixins/alert.pug


block main 

    link(rel="stylesheet", href="/css/infoUser.css")

    +alert-success(3000)
    +alert-error(3000)

    div(class="container-fluid")
        div(class="row")

            +sidebar("list-friend")

            div(class="col-9")
                div(class="container friends-container")
                    div(class="friends-header")
                        div(class="title")
                            | Danh Sách Bạn Bè
                    div(class="friends-body")
                        div(class="section-title")
                            | Bạn Bè
                        ul(class="friends-list")
                            li
                                img(alt="Friend Image", height="40", src="https://storage.googleapis.com/a1aa/image/U28v49suejUnJ6le7DnNAEcGwyrMmiRz06u2P9KY91mqXnwTA.jpg", width="40")
                                span
                                    | Angee Sam
                            li
                                img(alt="Friend Image", height="40", src="https://storage.googleapis.com/a1aa/image/U28v49suejUnJ6le7DnNAEcGwyrMmiRz06u2P9KY91mqXnwTA.jpg", width="40")
                                span
                                    | Kail Matt
                            li
                                img(alt="Friend Image", height="40", src="https://storage.googleapis.com/a1aa/image/U28v49suejUnJ6le7DnNAEcGwyrMmiRz06u2P9KY91mqXnwTA.jpg", width="40")
                                span
                                    | Sumana Biswas
                        div(class="section-title")
                            | Kết Bạn Chờ Xác Nhận
                        ul(class="pending-list")
                            li
                                img(alt="Pending Friend Image", height="40", src="https://storage.googleapis.com/a1aa/image/U28v49suejUnJ6le7DnNAEcGwyrMmiRz06u2P9KY91mqXnwTA.jpg", width="40")
                                span
                                    | Lina Smith
                                div(class="actions")
                                    button(class="btn btn-success btn-sm")
                                        | Chấp Nhận
                                    button(class="btn btn-danger btn-sm")
                                        | Từ Chối
                            li
                                img(alt="Pending Friend Image", height="40", src="https://storage.googleapis.com/a1aa/image/U28v49suejUnJ6le7DnNAEcGwyrMmiRz06u2P9KY91mqXnwTA.jpg", width="40")
                                span
                                    | Neel Das
                                div(class="actions")
                                    button(class="btn btn-success btn-sm")
                                        | Chấp Nhận
                                    button(class="btn btn-danger btn-sm")
                                        | Từ Chối
                            li
                                img(alt="Pending Friend Image", height="40", src="https://storage.googleapis.com/a1aa/image/U28v49suejUnJ6le7DnNAEcGwyrMmiRz06u2P9KY91mqXnwTA.jpg", width="40")
                                span
                                    | Jhon Smith
                                div(class="actions")
                                    button(class="btn btn-success btn-sm")
                                        | Chấp Nhận
                                    button(class="btn btn-danger btn-sm")
                                        | Từ Chối
                
