extends ../../layout/base.pug
include ../../mixins/alert.pug

block main 
	link(rel="stylesheet", href="/css/login.css")

	+alert-success(3000)
	+alert-error(3000)

	.inner-main
		div(class="container")
			div(class="image-section")
				img(alt="A bowl of pasta with cherry tomatoes and greens", height="600", src="https://storage.googleapis.com/a1aa/image/YAoY1hlUOb7KDFzb2XF4fxCvGfytUIzkFvrDgDkttG2JzhwTA.jpg", style="width: 100%; height: 100%; object-fit: cover;", width="400")
			div(class="form-section")
				div(class="d-flex justify-content-evenly mb-4")
					a(href="/user/login"  class="btn btn-outline-success")
						| Đăng nhập
					a(href="/user/register" class="btn btn-outline-secondary")
						| Đăng kí
				h2
					| Welcome
				p
					| Mã OTP có hiệu lực 3 phút ! Vui lòng nhập mã OTP để xác nhận tài khoản !
				form(
					action="/user/forgot/sendOTP" 
					method="post"
				) 
					input(class="form-control", name="otp" placeholder="OTP", type="text"  required)
					button(type="submit" class="btn btn-success w-100")
						| Xác nhận
				p(class="terms")
					| Điều khoản và điều kiện & chính sách bảo mật
